@use "@/styles/abstract/variables" as v;
@use "@/styles/abstract/typography" as ty;
@use "@/styles/abstract/mixins" as m;

.post-details {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: v.$color-white;
  &__info {
    display: flex;
    flex-direction: column;
    padding: 0 102px 119px 102px;
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    @include ty.text-36-semibold;
    color: v.$color-black-title;
  }

  &__picture {
    display: flex;
    align-items: center;
    width: 100%;
    height: 450px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 30px;
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
  }

  &__description {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    @include ty.text-16-regular;
  }

  &__comments {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }

  &__comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  &__comment-author {
    margin: 0;
    padding: 0;
    @include ty.text-16-24-semibold;
  }

  &__comment-date {
    margin: 0;
    padding: 0;
    @include ty.text-14-regular;
    color: v.$color-gray;
  }
  &__comment-text {
    margin: 0;
    padding: 0;
    @include ty.text-16-regular;
    color: v.$color-black;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: v.$color-btn-primary;
    padding: 12.5px 30px;
    border: 2px solid v.$color-btn-primary;
    border-radius: 10px;
    transition: background-color 0.3s ease;
     @include ty.text-16-24-semibold;
    

    &:hover,
    &:focus-visible {
      background-color: v.$color-btn-primary;
      color: v.$color-white;
    }
  }

  &__link-arrow {
  display: flex;
  align-items: center;
}
}
